<div class="vote-list">
	<p><strong>Recently Created Polls</strong></p>
	<ul>
	{{#each ballot}}
		<li>
			<a href="vote?id={{this._id}}">
				<h3>{{this.title}}</h3>
			</a>	
		</li>
	{{/each}}
	</ul>
</div>	