<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Build-A-Ballot</a>
    </div>
      {{#if user.username}}
      <div class="dropdown navbar-right">
        <button class=" dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username}}
          <img src="{{user.photo}}" class="profile-pic img img-circle"/>
          <span class="caret"></span>
        </button>
          <ul class="dropdown-menu">
            <li><a href="/dashboard">Library</a></li>
            <li><a href="#modal-form" data-toggle="modal" data-target="#modal-form">Create New</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
      {{else}}
        <a href="/auth" class="navbar-right navbar-link">
        <strong class="navbar-text">Log In With Github <i class="fa fa-github" aria-hidden="true"></i></strong>
        </a>
      {{/if}} 
    </div>
  </div>   
</nav>