.modal-btn{
	background: none;
	border: none;
}

.ballot{
	color:white;
	width:40%;
	border-radius:8px; 
	padding:5px 0 5px 16px;
	margin: 10px auto;
	background: #434243;
	text-align: left;
}
.chart{
	background: #ecd8d8;
	box-shadow: 3px 4px 2px rgba(0,0,0,0.7);
	width:30%;
}
.radio label,h3{
	text-transform:capitalize;
}
.delete-btn{
	background: none;
	color:red;
	font-size: 1.2em;
	border: none;
}
input[type='text']{
	color:black;
}

@media screen and (max-width: 700px){
	.chart{
		width:70%;
	}
}